<div>
  <p>Hello,</p>
  <p>
    You have been invited to join a project team in the BC Services Card Self
    Service application by {{user.first_name}} {{user.last_name}}.
  </p>
  <p>
    BC Services Card Self Service Application provides your organization an
    easy-access point into deploying the BC Services Card as an authentication
    mechanism for the your organization’s web application. This service is
    available to organizations that fall within the Broader Public Sector (BPS).
  </p>
  <p>
    We use a two-stepped approach where BPS teams can experiment to produce a
    proof of concept BC Services Card integration within our test environment,
    and test using mock BC Services Card data. When ready, your team can then
    prepare and submit the required materials to enable a live integration with
    real citizen BC Services Cards.
  </p>
  <p>
    You may wish to use our Self Assessment
    <a href="{{url}}/help/help-isforme">{{url}}/help/help-isforme</a> to see if
    this is a fit for your organization.
  </p>
  <p>
    In order to verify your access, please log in with either your mobile BC
    Services Card or IDIR <a href="{{url}}">{{url}}</a>
  </p>
  <p>Thank you.</p>
</div>
